html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html{
  height: 100%;
  background-color: #000;
}

body {
  padding:10px 50px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  min-height: 100%;
  background: url('../img/webglearth-banner-1400-560.png') bottom center;
  background-repeat: no-repeat;
  line-height: 1.8em;

}

h1, h1 a, h2, h3, h4, h5, h6 {
  color:#fff;
  margin:5px 0 5px;
  line-height:1.3;
  font-weight: normal;
  font-size: 30px;
}

p, ul, ol, table, dl {
  margin:0 0 10px;
}

a {
  color: #0099CC;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

ul, li{
  list-style-type: none;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  width:960px;
}

footer{
  display: none;
}